<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      <img alt="logo" src="assets/img/logo.png" class="logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col><ion-button class="smallBtn" (click)="login()" color="medium">Salir</ion-button></ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <br>
 
  <ion-label class="pl10">Registro de Eventos</ion-label>
  <br>
  <br>
  <ion-card>
    <ion-list  >
      <ion-item *ngFor="let event of events">
        <ion-thumbnail slot="start">
          <img class="imgList"  src="assets/img/{{event.img}}" />
        </ion-thumbnail>
        <ion-label>
          <p>{{event.lugar}}</p>
          <p>
            <small>{{event.fecha}}</small> <br>
            <small>{{event.hora}}</small>
          </p>
        </ion-label>
        <ion-button class="smallBtn" (click)="registry()" color="medium">Ingresar</ion-button>
      </ion-item>
      
      
    </ion-list>
  </ion-card>
  

</ion-content>

<ion-footer>
  <ion-title (click)="pastevents()" color="primary">Eventos Historicos Asistidos</ion-title>
</ion-footer>
