<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      <img alt="logo" src="assets/img/logo.png" class="logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item >
      <ion-label position="stacked">Nombre de Usuario</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button (click)="nextpage()" color="medium" expand="block">Ingresar</ion-button>
       
      </ion-col>
    </ion-row>
  </form>
</ion-content>
