<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      <img alt="logo" src="assets/img/logo.png" class="logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col><ion-button class="smallBtn" (click)="login()" color="medium">Salir</ion-button></ion-col>
      <ion-col><ion-button class="smallBtn" (click)="back()" color="light" style="float: right;">Atras</ion-button></ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <br>
 
  <ion-label class="pl10">Registro de Asistencia</ion-label>
  <br>
  <br>
  <ion-card>
    <img  src="assets/img/qr.png" alt="">
  </ion-card>
  

</ion-content>

<ion-footer>
  <ion-title (click)="pastevents()" color="primary">Eventos Historicos Asistidos</ion-title>
</ion-footer>
